$sans: 'Rubik', sans-serif;
$serif: 'Spectral', serif;

// Typography
$base-font-family: $serif;
$heading-font-family: $sans;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #1565c0;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$primary: black;

// Font Colors
$base-font-color: $primary;
$action-color: $dark-gray;

// Border
$base-border-color: $dark-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #eee;
$secondary-background-color: tint($base-border-color, 75%);

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;
