@import 'bourbon/bourbon';
@import 'base/base';

body {
  margin-left: 5em;
  margin-right: 5em;
  display: grid;
  grid-template-columns: .5fr repeat(2, 1fr);
  grid-template-rows: 60px;
  grid-gap: 1em;
  background-color: $base-background-color;
}
header {
  margin-bottom: .5em;
  grid-column: 1/4;
}
.header-menu {
  display: inline;
}

main {
  grid-column: 2/4;
  grid-row: 2/3;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
}
footer {
  border: 1px solid black;
  grid-row: 3/4;
  grid-column: 1/4;
}
nav {
  font-size: larger;
  font-weight: bold;
  margin-right: 1.5em;
  margin-bottom: .5em;
}
.menu {
  font-weight: bold;
  list-style-type: none;
}

nav, .sidebar-taxonomies {
  grid-column: 1/2;
}
p {
  background: rgba(255,255,255,.8);
  //margin-left: 1em;
  //padding-left: 1em;
  //margin-right: 1em;
  padding-right: 1em;
  text-align: justify;
}

.site {
  font-style: oblique;
  padding: .1em;
}

article {
  padding: 1.5em;
  background: rgba(255,255,255,.8);
}
.article-title {
  text-align: center;
}

.home {
  font-size: x-large;
  font-weight: bold;
}

.card {
  border: 1px solid #333;
  box-shadow: 2px 2px 1px rgb(214, 214, 214);
  padding: .25em .25em;
  margin: .5em .5em;
  border-radius: 5px;
  flex: 1 33%;
}

.documents {
  background-image: linear-gradient(270deg, #DE2D26, #ddd 40%, #eee);
}

.figments {
  background-color:#269;
  background-image: linear-gradient(270deg, #269, #ddd 40%, #eee);
}
.detail {
  list-style-type: none;
  background: rgba(255,255,255,.8);
  border-radius: 5px;
  padding: .25em;
  margin: .25em;
}

.meta-info {
  font-size: small;
}
.summary {
  padding: .2em;
}

.all-taxonomies {
  grid-column: 2/4;
}

.centered {
  text-align: center;
}

blockquote {
  font-style: italic;
  border-left: #269 groove 3px;
  background-color: #eee;
  padding-left: 5px;
  border-radius: 5px;
}
.reading {
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 5px;
}

.serieslist {
  font-size: small;
}