{{ define "main" }}
<main>
    <section class="card">
        <ul class="detail">
            {{if isset .Params "author"}}
            <li>Written by: {{.Params.author}}</li>
            <li class="meta-info">Reading time: ~{{ .ReadingTime}} minutes</li>
            <li class="meta-info">Word count: {{ .WordCount }}</li>
            {{end}}
            </ul>
            </section>
  <article>
    <h1 class="centered">{{.Title}}</h1>
    <p>{{ .Content }}</p>
  </article>
  <section>
        {{if isset .Params "series"}}
        <ul class="detail">
            <li>All of this series: <a href="{{ "/series/" | relLangURL }}{{ .Params.series | urlize }}">{{ .Params.series }}</a></li>
        </ul>
        {{end}}
  </section>
</main>
{{end}}
