<html>
  <head>
      <style>
          @import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,700|Spectral:400,400i,600');
        </style> 
    <title>{{ .Site.Title }}</title>
    {{ partial "meta-twitter" . }}
    {{ partial "externs" . }}
  </head>
  <body>
    {{ partial "navigation" . }}
    {{ block "main" . }}
    {{end}}
    {{ block "license" . }}
    <!-- TODO: licensing partial -->
    <footer>&#169; {{ .Site.Copyright }}</footer>
    {{end}}
  </body>
</html>
