<section class="card {{.Type}}">
    <ul class="detail">
        {{if isset .Params "series"}}
        <li><a href="{{ "/series/" | relLangURL }}{{ .Params.series | urlize }}">{{ .Params.series }}</a></li>
        {{end}}
        <li><h1 class="{{.Type}}-hed"><a href="{{- .RelPermalink -}}">{{.Title}}</a></h1></li>      
        <li><blockquote>{{.Description}}</blockquote></li>
        <hr></hr>
        {{if isset .Params "series"}}
        <li class="meta-info">Written by {{.Params.author}}.</li>
        {{end}}
        <li class="meta-info">circa {{ .ReadingTime}} minutes reading time.</li>
        <li class="meta-info">{{ .WordCount }} Words.</li>
        <li class="meta-info">Published on {{ .PublishDate.Format "2006/01/02" }}.</li>
    </ul>
</section>