<section class="card {{.Type}}">
    <ul class="detail">
        {{if isset .Params "series"}}
        <li><a href="{{ "/series/" | relLangURL }}{{ .Params.series | urlize }}">{{ .Params.series }}</a> </li>
        {{end}}
        <li><h1 class="{{.Type}}-hed"><a href="{{- .RelPermalink -}}">{{.Title}}</a></h1></li>      
        <li>Desc: {{.Description}}</li>
        <hr></hr>
        {{if ne (isset .Params "series") true }}
        <li class="meta-info">Reading time: ~{{ .ReadingTime}} minutes</li>
        <li class="meta-info">Word count: {{ .WordCount }}</li>
        <li class="meta-info">Published: {{ .PublishDate.Format "2006/01/02" }}</li>
        <li class="meta-info">Written by: {{.Params.author}}</li>
        {{end}}
    </ul>
</section>