<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@{{.Site.Params.Twitter}}">
<meta property="twitter:title" content="{{if .Title }}{{.Title}}{{else}}{{.Site.Title}}{{end}}">
<meta property="twitter:image" content="{{ if .Params.meta_img }}{{.Site.BaseURL}}/assets/images/{{.Params.meta_img}}{{ else }}{{.Site.BaseURL}}/assets/images/{{.Site.Params.DefaultSocialImage}}{{ end }}">
<meta property="twitter:description" content="{{ if .IsHome }}{{ .Site.Params.SiteDescription }}{{ else if .IsPage }}{{ .Description }}{{ else if .IsNode }}{{ index .Site.Data.sectioninfo .Title }}{{ end }}">