<header>
  <h1><a class="menu" href="{{.Site.BaseURL}}">{{.Site.Title}}</a></h1>
</header>
<section class="sidebar">
  <nav>
    <ul class="menu">
      {{ range .Site.Sections }}
      <li class="menu"><a href="{{.Permalink}}">{{ .Title }}</a></li>
      {{ end }}
      <hr/>
      {{ range .Site.Menus.site }}
      <li class="menu site"><a href="{{ .URL }}">{{ .Name }}</a></li>
      {{end}} 
    </ul>
  </nav>
  <hr/>
  {{ partial "sidebar-taxonomies" . }}
  <hr/>
  <ul class="menu">
    <li>{{partial "ko-fi" . }}</li>
    <li>{{partial "twitter-button" .}}</li>
  </ul>
</section>