<section class="sidebar-taxonomies">
  <nav>
    <ul class="menu">
      {{ range $taxonomyname, $taxonomy := .Site.Taxonomies  }}
      <li><a href="/{{ $taxonomyname | urlize }}">All {{ $taxonomyname | humanize }}</a></li>
      {{range $key, $value := $taxonomy }}
      <ul class="menu">
      <li class="serieslist">&NonBreakingSpace;<a href="{{ "/series/" | relLangURL }}{{ $key | urlize }}">{{ $key | humanize }}</a></li>
      </ul>
      {{end}}
      {{ end }}
    </ul>
  </nav>
</section>