<a href="https://twitter.com/{{.Site.Params.Twitter}}?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-dnt="true" data-show-count="false">Follow @{{.Site.Params.Twitter}}</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>