{{define "main"}}
<main class="series-list">
    
    <!--<p>{{printf "%#v" $.Site }}</p>
    <hr/>
    <p>{{printf "%#v" .}}</p>-->
    {{ range .Pages }}
        {{partial "card" .}}
    {{ end }}
</main>
{{end}}